.button {
  padding: .2em .5em;
  margin-bottom: .3em;
  background: transparent;
  border: none;
  border-radius: $radius;
  font-family: $font;
  line-height: 1.5em;
  color: $primary;
  font-size: 1em;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;


  &:hover {
    cursor: pointer;
    color: $secondary;
    &::before {
       content: url('src/imgs/play-hovered.svg');
       
    }
  }

  &::before {
    content: url('src/imgs/play.svg');
    position: relative;

    margin-right: .4em;

    

    
   
  
  }
}

.button.active {
  color: $secondary;
  animation: wiggle .1s cubic-bezier(.36, .07, .19, .97) infinite;
  &::before {
    content: url('src/imgs/stop.svg');
  }
}


@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(1deg);
  }

  95% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
