.button {
  padding: .2em .5em;
  margin-bottom: .3em;
  background: transparent;
  border: none;
  border-radius: $radius;
  font-family: $font;
  color: $primary;
  font-size: 1em;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;


  &:hover {
    cursor: pointer;
    &::before {
       content: url('src/imgs/play-hovered.svg');
    }
  }

  &::before {
    content: url('src/imgs/play.svg');
   
    margin-top: .8em;
    margin-right: .4em;
  }
}

.button.active {
  &::before {
    content: url('src/imgs/stop.svg');
  }
}

