header {
    padding: 3em 0;
    width: 90%;   

 .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
    img {
        margin: 2em auto;
        max-width: 300px;
    }
 }
}
