@import "base/fonts";

$white: white;
$violet:#8035DC;
$rose:#FEE4E6;
$rouge:#EF4620;

$primary:$violet;
$secondary:$rouge;
$background: $rose;

$radius: 8px;
$font: 'GloriaHallelujah',helvetica,arial,sans-serif;


@import "base/reset";
@import "layout/home";
@import  "buttons";
@import  "header";

