@font-face{
	font-family: 'GloriaHallelujah';
	src: url('src/fonts/GloriaHallelujah.woff2') format('woff2'),
	     url('src/fonts/GloriaHallelujah.woff') format('woff'),
	     url('src/fonts/GloriaHallelujah.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
