body.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  
  @media only screen and (min-width: 1000px) {
      padding: 0 150px;
  }
  background: $background;
  box-sizing: border-box;

  font-family: $font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  color: $primary;
  

  &:before,
  &:after {
    position: absolute;
    content: "";
    z-index: 10;
    bottom: -38px;
    width: 100%;
    background-repeat: repeat-y;

  }

  &:before {
    top: 0;
    left:0;
    background-image: url('src/imgs/bande.png');
    transform: translateX(-130px) rotate(10deg);
  }

  &:after {
    top: 0;
    right: 0;
    background-image: url('src/imgs/bande.png');
    transform: translateX(130px) rotate(-190deg);
    
  }
  
  @media only screen and (min-width: 1000px) {
    &:before,
    &:after {
      position: fixed;
    }
    &:before{
      transform: translateX(-38px) rotate(4deg);
   
    }
    
    &:after{
      transform: translateX(38px) rotate(-184deg);
    }


  }

  header {
    margin: 0 auto;
    z-index: 100;
  }

  main {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    z-index: 100;

    .container {

      .group .sounds {
        display: inline-grid;
        grid-template-columns: auto ;

        
        @media only screen and (min-width: 800px) {
           grid-template-columns: auto auto;
        }
        @media only screen and (min-width: 1200px) {
           grid-template-columns: auto auto auto;
        }


      }

     
    }


  }

}


a {
  color: $secondary;
}


